table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
    margin-left: 40px;
    align-items: center;
}

table {
    width: 100%;
}

th,
td {
    padding: 15px;
}

th {
    background-color: beige;
}

h1 {
    text-align: center;
}
